@import url("https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@700&display=swap");

.UsersList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(#f4f1e9, #def1fa);
  padding: 2em;
}

.Container {
  width: 80vw;
}

.Title {
  text-align: center;
  font-size: 4em;
  font-family: "Qwitcher Grypen", cursive;
}

.Pagination {
  margin-top: 1em;
  text-align: center;
}

.ErrorContainer {
  text-align: center;
  font-size: 2em;
  font-family: "Qwitcher Grypen", cursive;
}
