.FilterContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.FilterFirstRow {
  display: flex;
  flex-direction: row;
}

.Row {
  display: block;
  margin: 1em;
}
