.TasksGridContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em;
  width: 100%;
}

.CenterContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}
