@use "../../../App.scss" as main;

.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: main.$main-background;
}

.CenterContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.Title {
  text-align: center;
  font-size: 4em;
  font-family: "Qwitcher Grypen", cursive;
}

.UserDetails {
  width: 80%;
  background-color: white;
  border-radius: 2em;
  padding: 1em;
  margin: 3em;
}
